.serviciosContainer{ 
    section{
        background-size: cover;
    }
    
    .container{
        padding-top: 10%;
        padding-bottom: 5%;        
    }
    #servicios-1{
        background-image: linear-gradient(to bottom, #0990ff, #083977);
        section{
            background-image: url("../../../soma/assets/images/2017/12/1-servicio.png");
            background-repeat: no-repeat;
        
            background-size: 70rem 50rem;
        
        }
    }
    #servicios-2{
        background-repeat: no-repeat;
        background-image: url("../../../soma/assets/images/2017/12/2-servicio.png");
        background-size: 100%;
        h1, p{
            color: #454545;
        }
    }
    #servicios-3{
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, #ff5f00, #ca4c01);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
        section{
            background-image: url("../../../soma/assets/images/2017/12/3-servicio.png");
            background-repeat: no-repeat;
            background-size: 65rem 50rem;
        }
    }
    #servicios-4{
        background-repeat: no-repeat;
        background-image: linear-gradient(to bottom, #04192a, #001a3c);
        box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.66);
        section{
            background-image: url("../../../soma/assets/images/2017/12/4-servicio.png");
            background-repeat: no-repeat;
            background-size: 65rem 100rem;
            background-position: right;
        }
    }
    #servicios-5{
        background-repeat: no-repeat;
        background-image: linear-gradient(to bottom, #ffffff, #e2e2e2 97%);;
        box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.66);
        section{
            background-image:  url("../../../soma/assets/images/2017/12/5-servicio.png");
            background-repeat: no-repeat;
            background-size: 65rem 50rem;
        }
        h1, p{
            color: #454545;
        }
    }
}